
@import url("https://fonts.googleapis.com/css2?family-Poppins:wght@300;400;500;600;700;900&display=swap");



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    background-color: #fbfbfbbe;

}

.logo{
                   
    width: 90px;
    height: auto;                
}
.navbar a {
    position: relative;
    font-size: 18px;
    color: #0e233bb0;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #E63365;
    transition: .2s;
}
.navbar a:hover::before {
    width: 100%;
    color: white;
}
a:hover{
    color: white;;
}
