*{
    box-sizing: border-box;
}

/*
555B6E
89B0AE
BEE3DB
FAF9F9
FFD6BA

Adobe
#EB88CE
#A16390
#888B8C
#F2F2F2
#262626



*/


img{ 
    width: 120px;
    height: auto;
    
}
body{
    font-family: 'Poppins';
    display: flex;
    align-items: center;
    justify-content: center;
   height: 100%;
   background-color:#c497a4b0 ;
   z-index: 1;
}
H3{
    color: #0E233B;
    font-weight:900;
}

.body:after {
    content: '';
    position: fixed;
    inset:0;
    background-color:#EBE1E4;
    width:20% ;
    height: 100vh;
    clip-path: polygon(0 100%,0 0,100% 0,70% 100%);
    z-index : -1
  }
  .body::before {
    content: '';
    position: fixed;
    inset: 0;
    background-color: #EBE1E4;
    width: 80%;
    height: 100vh;
    clip-path: polygon(0 100%, 0 0, 100% 0, 70% 100%);
    z-index: -2;
  }

 

 .login{
      position: fixed;
      z-index: 3;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      width: 90%;
      padding: 70px 30px 30px;
      border-radius: 1.25rem;
      border: 1px solid #ddd;
      box-shadow: 0 10px 50px -30px black;
      background: #DCC6C8 ;
      text-align: center;
  }
  
  .login > img{
      /* width: 120px; */
      aspect-ratio: 1/1;
      object-fit: cover;
       border-radius: 20%; 
      margin-bottom: 20px;

  }

  
  .login > h3{
      /* color: rgba(0, 0, 0, 0.38); */
      margin: 0 0 6px;
      font-weight: 500;
      font-size: 20px;
  }
  
  .login-form{
      display: grid;
      gap: 30px;
      place-items: center;
      width: 100%;
      margin: 0;
  }
  
  .login-form > input, .login-form > button{
      height: 56px;
      outline: none;
      padding: 0;
      font-family: inherit;
  }
  
  .login-form > input{
    color: #0E233B;
      width: 240px;
      background: transparent;
      border: 2px solid transparent;
      border-bottom: 2px solid rgba(0, 0, 0, 0.112);
      font-size: 18px;
      padding: 0;
      text-align: center;
      transition: all 0.3s;
  }

  .login-form > input::placeholder{
    color: #0e233bb0;
  }

  .login-form > input:hover{
      border-bottom: 2px solid #f03666;
  }
  
  .login-form > input:focus{
      border-bottom: 2px solid #f03666;
  }
  
  .login-form > button{
      cursor: pointer;
      width: 100%;
      height: 56px;
      background: #f03666;
      color: #ffffff;
      border: 0;
      border-radius: 10px;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 2px;
      transition: all 0.3s;
  }
  
  .login-form > button:hover{
      background-color: #f03666;
  }
  
  .login-form > a{
      color: #f03666;
      font-size: 1rem;
      text-align: left;
      text-decoration: none;
      transition: all 0.3s;
  }
  
  .login-form > a:hover{
      color: #f03666;
  }
  

.login-form > a:hover{
    color: #f03666;
}
  
  @media (width >= 450px){
      .login{
          width: 380px;
      }
  }
  
  @media (width >= 500px){
      body{
          padding: 0;
      }
  }
  
  @media (width >= 1200px){
      .login{
          width: 25%;
      }

    h3{
        font-weight:400;
    }
  }